<button type="button" class="icon-btn" (click)="open()">
  <ion-icon name="location-outline"></ion-icon>
</button>

<ion-modal [isOpen]="isOpen()" (didDismiss)="isOpen.set(false)">
  <ng-template>
    <div class="filter-sheet">
      <app-filter-sheet-header titleKey="explorer.locationModalTitle" (closed)="isOpen.set(false)"></app-filter-sheet-header>

      <app-location-picker
        [editable]="true"
        [lat]="filters.draftLatitude()"
        [lng]="filters.draftLongitude()"
        [zoom]="zoomLevel()"
        [mapType]="mapType()"
        [addressValue]="filters.draftAddress()"
        [citySuggestions]="citySuggestions()"
        [locating]="locatingMe()"
        [addressLine]="resolvedAddressLine()"
        [showDistance]="true"
        [distanceValue]="filters.draftDistanceRange()"
        (zoomIn)="zoomIn()"
        (zoomOut)="zoomOut()"
        (mapTypeToggle)="toggleMapType()"
        (addressInput)="onCityInput($event)"
        (suggestionSelect)="selectCitySuggestion($event)"
        (useCurrentLocation)="useCurrentLocation()"
        (distanceChange)="onDistanceChange($event)"
        (pinMoved)="onPinMoved($event)"
      ></app-location-picker>

      <app-filter-actions-row>
        <ion-button expand="block" fill="outline" color="primary" (click)="saveLocationFilter()">
          <ion-icon slot="start" name="bookmark-outline"></ion-icon>
          {{ 'explorer.saveFilters' | translate }}
        </ion-button>
      </app-filter-actions-row>
      <app-filter-actions-row [secondary]="true">
        <ion-button expand="block" fill="outline" color="primary" (click)="resetLocationFilter()">
          <ion-icon slot="start" name="refresh-outline"></ion-icon>
          {{ 'explorer.resetFilters' | translate }}
        </ion-button>
        <ion-button expand="block" class="btn-fill" (click)="applyLocationFilter()">
          <ion-icon slot="start" name="checkmark-outline"></ion-icon>
          {{ (applyLocationFlash.active() ? 'profile.applied' : 'profile.apply') | translate }}
        </ion-button>
      </app-filter-actions-row>
    </div>
  </ng-template>
</ion-modal>
