<button type="button" class="icon-btn" (click)="open()">
  <ion-icon name="location-outline"></ion-icon>
</button>

<ion-modal
  [isOpen]="isOpen()"
  [initialBreakpoint]="0.75"
  [breakpoints]="[0, 0.75, 0.95]"
  (didDismiss)="isOpen.set(false)"
>
  <ng-template>
    <div class="filter-sheet">
      <app-filter-sheet-header titleKey="explorer.locationModalTitle" (closed)="isOpen.set(false)"></app-filter-sheet-header>

      <ion-searchbar
        class="tgtg-searchbar"
        [placeholder]="'register.cityPlaceholder' | translate"
        [value]="filters.draftCity()"
        [debounce]="0"
        (ionInput)="onCityInput($event.detail.value)"
      ></ion-searchbar>

      @if (citySuggestions().length) {
        <div class="city-suggestions">
          @for (suggestion of citySuggestions(); track suggestion.placeId) {
            <button type="button" class="city-suggestion" (click)="selectCitySuggestion(suggestion)">
              <ion-icon name="location-outline"></ion-icon>
              {{ suggestion.description }}
            </button>
          }
        </div>
      }

      <ion-button fill="clear" (click)="useCurrentLocation()" [disabled]="locatingMe()">
        <ion-icon slot="start" name="locate-outline"></ion-icon>
        {{ 'register.useCurrentLocation' | translate }}
      </ion-button>

      <p class="range-label">{{ 'register.distanceLabel' | translate: { km: filters.draftDistanceRange() } }}</p>
      <ion-range
        [min]="1"
        [max]="150"
        [value]="filters.draftDistanceRange()"
        (ionChange)="onDistanceChange($event)"
      ></ion-range>

      <app-filter-actions-row>
        <ion-button expand="block" fill="outline" color="primary" (click)="saveLocationFilter()">
          <ion-icon slot="start" name="bookmark-outline"></ion-icon>
          {{ 'explorer.saveFilters' | translate }}
        </ion-button>
      </app-filter-actions-row>
      <app-filter-actions-row [secondary]="true">
        <ion-button expand="block" fill="outline" color="primary" (click)="resetLocationFilter()">
          <ion-icon slot="start" name="refresh-outline"></ion-icon>
          {{ 'explorer.resetFilters' | translate }}
        </ion-button>
        <ion-button expand="block" class="btn-fill" (click)="applyLocationFilter()">
          <ion-icon slot="start" name="checkmark-outline"></ion-icon>
          {{ (applyLocationFlash.active() ? 'profile.applied' : 'profile.apply') | translate }}
        </ion-button>
      </app-filter-actions-row>
    </div>
  </ng-template>
</ion-modal>
