<ion-content [fullscreen]="true" class="explorer-filters-content">
  <div class="explorer-filters-container">
    <app-filter-sheet-header titleKey="explorer.filterAllTitle" (closed)="goBack()"></app-filter-sheet-header>

    <app-filter-all
      [showSaveAsPreference]="true"
      [eventTypeChips]="eventTypeChips()"
      [disciplineChips]="disciplineChips()"
      [statusChips]="statusChips()"
      [priceChips]="priceChips()"
      [quickDateChips]="quickDateChips()"
      [dateFromValue]="filters.draftDateFrom() ?? filters.draftDateTo() ?? nowTimestamp"
      [dateToValue]="filters.draftDateTo() ?? filters.draftDateFrom() ?? nowTimestamp"
      [dateFromIsUnset]="filters.draftDateFrom() === undefined"
      [dateToIsUnset]="filters.draftDateTo() === undefined"
      [applied]="applyAllFlash.active()"
      (chipToggle)="onChipToggle($event)"
      (dateFromChange)="onDraftDateFromChange($event)"
      (dateToChange)="onDraftDateToChange($event)"
      (clearDateFrom)="filters.clearDraftDateFrom()"
      (clearDateTo)="clearDraftDateTo()"
      (saveAsPreference)="saveAll()"
      (reset)="resetAll()"
      (apply)="applyAll()"
    ></app-filter-all>
  </div>
</ion-content>
