<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explorer" href="/tabs/explorer">
      <div class="tab-icon-wrap">
        <img class="tab-icon" src="assets/icons/tabs/explorer.svg" alt="" aria-hidden="true" />
      </div>
      <ion-label>{{ 'tabs.explorer' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events" href="/tabs/events">
      <div class="tab-icon-wrap">
        <img class="tab-icon" src="assets/icons/tabs/events.svg" alt="" aria-hidden="true" />
      </div>
      <ion-label>{{ 'tabs.events' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites" href="/tabs/favorites">
      <div class="tab-icon-wrap">
        <img class="tab-icon" src="assets/icons/tabs/favorites.svg" alt="" aria-hidden="true" />
      </div>
      <ion-label>{{ 'tabs.favorites' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <div class="tab-icon-wrap">
        <img class="tab-icon" src="assets/icons/tabs/profile.svg" alt="" aria-hidden="true" />
      </div>
      <ion-label>{{ 'tabs.profile' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
