<ion-content [fullscreen]="true" class="explorer-filters-content">
  <div class="explorer-filters-container">
    <div class="top-bar">
      <h1>{{ 'explorer.filterAllTitle' | translate }}</h1>
      <button type="button" class="close-button" (click)="goBack()">
        <ion-icon name="close"></ion-icon>
      </button>
    </div>

    <app-filter-all
      [showSaveAsPreference]="true"
      [eventTypeChips]="eventTypeChips()"
      [disciplineChips]="disciplineChips()"
      [statusChips]="statusChips()"
      [priceChips]="priceChips()"
      [quickDateChips]="quickDateChips()"
      [dateFromValue]="filters.draftDateFrom()"
      [dateToValue]="filters.draftDateTo() ?? filters.draftDateFrom()"
      [dateToIsUnset]="filters.draftDateTo() === undefined"
      [applied]="applyAllFlash.active()"
      (chipToggle)="onChipToggle($event)"
      (dateFromChange)="onDraftDateFromChange($event)"
      (dateToChange)="onDraftDateToChange($event)"
      (clearDateTo)="clearDraftDateTo()"
      (saveAsPreference)="saveAll()"
      (reset)="resetAll()"
      (apply)="applyAll()"
    ></app-filter-all>
  </div>
</ion-content>
