<div class="user-card-row" (click)="open()">
  <div class="avatar-wrap">
    @if (user.photoUrl) {
      <img class="avatar" [src]="user.photoUrl" [alt]="user.name" />
    } @else {
      <div class="avatar avatar-placeholder">
        <ion-icon name="person-outline"></ion-icon>
      </div>
    }
  </div>
  <div class="user-info">
    <div class="user-name-row">
      <span class="user-name">{{ user.name }}</span>
      @if (timestampLabel) {
        <span class="row-timestamp">{{ timestampLabel }}</span>
      }
    </div>
    @if (subtitle) {
      <span class="user-subtitle">{{ subtitle }}</span>
    }
    @if ((unreadCount ?? 0) > 0) {
      <span class="unread-badge">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        {{ unreadCount! > 9 ? '9+' : unreadCount }}
      </span>
    }
    @if (badgeLabel) {
      <span class="role-badge">
        @if (badgeIcon) {
          <ion-icon [name]="badgeIcon"></ion-icon>
        }
        {{ badgeLabel }}
      </span>
    }
    @if (user.showEmail && user.email) {
      <span class="user-email">{{ user.email }}</span>
    }
    @if (disciplines().length) {
      <div class="user-disciplines">
        @for (discipline of disciplines(); track discipline.id) {
          <span class="discipline-mini-chip">
            <img class="discipline-mini-icon" [src]="'/' + discipline.iconUrl" [alt]="discipline.name" />
            {{ discipline.name }}
          </span>
        }
      </div>
    } @else if (showEmptyDisciplines) {
      <span class="user-disciplines-empty">{{ 'followList.noDisciplines' | translate }}</span>
    }
  </div>
  @if (!isMe()) {
    <div class="actions-col" [class.full-row]="!!extraActions">
      @if (extraActions) {
        <div class="extra-actions">
          @for (action of extraActions; track action.labelKey) {
            <button
              type="button"
              class="follow-btn follow-btn-following"
              [disabled]="action.busy"
              (click)="onExtraActionTap($event, action)"
            >
              <ion-icon [name]="action.icon"></ion-icon>
              {{ action.labelKey | translate }}
            </button>
          }
        </div>
      } @else if (showFollowAction && isFollowedByMe()) {
        <button
          type="button"
          class="follow-btn follow-btn-following"
          [disabled]="followBusy()"
          (click)="toggleFollow($event)"
        >
          <ion-icon name="person-remove-outline"></ion-icon>
          {{ (followFlash.active() ? 'eventDetail.savedButton' : 'profile.following') | translate }}
        </button>
      } @else if (showFollowAction) {
        <button
          type="button"
          class="follow-btn follow-btn-follow"
          [disabled]="followBusy()"
          (click)="toggleFollow($event)"
        >
          <ion-icon [name]="followFlash.active() ? 'checkmark-outline' : 'person-add-outline'"></ion-icon>
          {{ (followFlash.active() ? 'eventDetail.savedButton' : 'userDetail.followButton') | translate }}
        </button>
      }
      @if (removeAction) {
        <button
          type="button"
          class="remove-btn"
          [disabled]="removeAction.busy"
          [attr.aria-label]="removeAction.labelKey | translate"
          (click)="onExtraActionTap($event, removeAction)"
        >
          <ion-icon [name]="removeAction.icon"></ion-icon>
        </button>
      }
    </div>
  }
</div>
